---
import BaseHead from '../components/BaseHead.astro';
import BlogPostHeader from '../components/BlogPostHeader.svelte';
import Layout from '../components/Layout.astro'


const {content} = Astro.props;
const {Name, Description, Published, Author, Cover, HeroImageDescription} = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={Name} description={Description} permalink="some-permalink" />
  </head>

  <body>
  <Layout heroImageSrc={Cover} client:load>
      <div class="mt-12 container mx-auto px-2">
      <BlogPostHeader Name={Name} Description={Description} Published={Published}/>
        <div id="blog-content" class="mt-8">
        <slot/>
        </div>
      </div>
  </Layout>
  </body>
</html>

<style global>
 #blog-content img {
  margin: 2rem auto;
}
</style>

