---
import BaseHead from '../components/BaseHead.astro';
import BlogPostPreview from '../components/BlogPostPreview.svelte'
import Layout from '../components/Layout.astro'

let title = 'Nick Henderson - Blog';
let description = 'Composer | Multi-instrumentalist | recording engineer';
let permalink = 'https://nickhendersonmusic.com/blog';

  let allPosts = Astro.fetchContent('../pages/posts/*.md');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.published).valueOf() - new Date(a.published).valueOf());
---
<html lang="en" >
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>


<Layout client:load useContainer currentPath="/blog">
{sortedPosts.map(p => 
<div class="mb-5 w-full">
<BlogPostPreview  post={p} fullWidth={true} />
</div>
)}
</Layout>
  

</html>



