---
import BaseHead from '../components/BaseHead.astro';
import BlogPostHeader from '../components/BlogPostHeader.svelte';
import Layout from '../components/Layout.astro'


const {content} = Astro.props;
const {title, description, published, author, cover, coverDescription} = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={description} permalink="some-permalink" />
  </head>

  <body>
  <Layout heroImageSrc={cover} client:load>
      <div class="mt-12 container mx-auto px-4">
      <BlogPostHeader title={title} description={description} published={published}/>
        <div id="blog-content" class="mt-8">
        <slot/>
        </div>
      </div>
  </Layout>
  </body>
</html>

<style global>
 #blog-content img {
  margin: 2rem auto;
}
</style>

